<%- include('./partials/header.ejs') %>
<div class="container">
    <h3>Summary</h3>
    <h6>Note! By default, values are calculated for previous month and previous week.</h6>
    <% if (monthDataNotExists) { %>
        <p>
            <%= monthDataNotExists %>
        </p>
    <% } %>
    <% if (weekDataNotExists) { %>
        <p>
            <%= weekDataNotExists %>
        </p>
    <% } %>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Week summary</h5>
                    <p class="card-text">Average sleep duration: <%= weeklyStatistics.averageSleepTime %> hours</p>
                    <p class="card-text">Average exercise duration: <%= weeklyStatistics.averageExerciseTime %>
                        hours</p>
                    <p class="card-text">Average study duration: <%= weeklyStatistics.averageStudyTime %> hours</p>
                    <p class="card-text">Average sleep quality: <%= weeklyStatistics.averageSleepQuality %></p>
                    <p class="card-text">Average mood: <%= weeklyStatistics.averageMood %></p>
                </div>
            </div>
            <br/>
            <form method="POST" action="/behavior/summary">
                <label for="week">Select week</label>
                <input type="week" name="week" id="week">
                <input type="submit" value="Calculate week average" class="btn btn-info">
                <br/>
            </form>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Month summary</h5>
                    <p class="card-text">Average sleep duration: <%= monthlyStatistics.averageSleepTime %> hours</p>
                    <p class="card-text">Average exercise and sport
                        duration: <%= monthlyStatistics.averageExerciseTime %> hours</p>
                    <p class="card-text">Average study duration: <%= monthlyStatistics.averageStudyTime %> hours</p>
                    <p class="card-text">Average sleep quality: <%= monthlyStatistics.averageSleepQuality %></p>
                    <p class="card-text">Average mood: <%= monthlyStatistics.averageMood %></p>
                </div>
            </div>

            <br/>
            <form method="POST" action="/behavior/summary">
                <label for="month">Select month</label>
                <input type="month" name="month" id="month">
                <input type="submit" value="Calculate month average" class="btn btn-info">
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>